*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: lightgray;
  width: 100%;
  height: 100%;
  margin: 8% auto;
}
body .main-div{
  width: 250px;
  height: 350px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 0 2px 2px black,
              0 -2px 2px black,
              0 2px 2px brown,
              0 -2px 2px brown;
}
body .main-div .row p{
  width: 100%;
  height: 30px;
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 5px;
  text-align: right;
  font-size: 20px;
  color: red;
  padding: 0 8px;
  font-weight: 900;
  box-shadow: 0 -2px 2px black;
}
body .main-div .row button{
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 50%;
  margin: 5px 2px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 2px black,
              0 -2px 2px black,
              0 2px 2px red,
              0 -2px 2px red;
  
}
body .main-div .row button:hover{
  background-color: #50f7ec;
}
.operator{
  background-color: gray;
}